In [2]:
import pandas as pd

In [4]:
#source https://www.kaggle.com/datasets/icw123/emotion
emotions = pd.read_csv('./text_emotion.csv')
#emotions = emotions.drop(columns = ['tweet_id', 'author'])
emotions.groupby('sentiment').count()

            tweet_id  author  content
sentiment
anger            110     110      110
boredom          179     179      179
empty            827     827      827
enthusiasm       759     759      759
fun             1776    1776     1776
happiness       5209    5209     5209
hate            1323    1323     1323
love            3842    3842     3842
neutral         8638    8638     8638
relief          1526    1526     1526
sadness         5165    5165     5165
surprise        2187    2187     2187
worry           8459    8459     8459

In [5]:
emotions

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...
...,...,...,...,...
39995,1753918954,neutral,showMe_Heaven,@JohnLloydTaylor
39996,1753919001,love,drapeaux,Happy Mothers Day All my love
39997,1753919005,love,JenniRox,Happy Mother's Day to all the mommies out ther...
39998,1753919043,happiness,ipdaman1,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...
39999,1753919049,love,Alpharalpha,@mopedronin bullet train from tokyo the gf ...